.modal-backdrop,.modal-backdrop.fade.in{opacity:0.5;filter:alpha(opacity=50)}
ul.chzn-choices{background:#fff url('/img/dropdown.png') right top no-repeat}
#section1, #section2, #section3, #section4{padding-top:10px}
#nickname{width:130px}
#msgcontainer{overflow-y:scroll}
#msgcontainer ul{margin:0 0 10px 0}
#messages li{padding:5px 10px}
#messages li:nth-child(odd){background:#eee}
#messages li .user{font-size:12px;color:grey}
#messages li .user a{font-size:12px;color:grey}
#messages li .msgline{vertical-align:top;width:15px;font-size:12px;color:grey}
#messages li .msg{font-size:14px}
#messages li .timestamp{float:right}
#msgform{position:fixed;bottom:0;padding-right:15px;padding-left:15px}
#msg, #submit{height:45px}

